<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754445879555-dtu8qtal15i5ef8hpikfisduur4qnivb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754445879555-dtu8qtal15i5ef8hpikfisduur4qnivb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>754445879555-95gt3epsg0eevl2rdt5rnaoquh5v635c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5KcUUEsmJ4EUnEpYCtnsDUdlsIlaRvrY</string>
	<key>GCM_SENDER_ID</key>
	<string>754445879555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saphy</string>
	<key>PROJECT_ID</key>
	<string>saphy-27f69</string>
	<key>STORAGE_BUCKET</key>
	<string>saphy-27f69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754445879555:ios:e10abf321d33a90604c136</string>
</dict>
</plist>